# Desafio 1

Para esse desafio, vamos trabalhar com o data set [Black Friday](https://www.kaggle.com/mehdidag/black-friday), que reúne dados sobre transações de compras em uma loja de varejo.

Vamos utilizá-lo para praticar a exploração de data sets utilizando pandas. Você pode fazer toda análise neste mesmo notebook, mas as resposta devem estar nos locais indicados.

> Obs.: Por favor, não modifique o nome das funções de resposta.

## _Set up_ da análise

In [2]:
import pandas as pd
import numpy as np

In [3]:
black_friday = pd.read_csv("black_friday.csv")

## Inicie sua análise a partir daqui

In [31]:
black_friday.head(10)

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,1000001,P00069042,F,0-17,10,A,2,0,3,NaN,NaN,8370
1,1000001,P00248942,F,0-17,10,A,2,0,1,6.0,14.0,15200
2,1000001,P00087842,F,0-17,10,A,2,0,12,NaN,NaN,1422
3,1000001,P00085442,F,0-17,10,A,2,0,12,14.0,NaN,1057
4,1000002,P00285442,M,55+,16,C,4+,0,8,NaN,NaN,7969
5,1000003,P00193542,M,26-35,15,A,3,0,1,2.0,NaN,15227
6,1000004,P00184942,M,46-50,7,B,2,1,1,8.0,17.0,19215
7,1000004,P00346142,M,46-50,7,B,2,1,1,15.0,NaN,15854
8,1000004,P0097242,M,46-50,7,B,2,1,1,16.0,NaN,15686
9,1000005,P00274942,M,26-35,20,A,1,1,8,NaN,NaN,7871

## Questão 1

Quantas observações e quantas colunas há no dataset? Responda no formato de uma tuple `(n_observacoes, n_colunas)`.

In [5]:
def q1():
    return black_friday.shape

## Questão 2

Há quantas mulheres com idade entre 26 e 35 anos no dataset? Responda como um único escalar.

In [6]:
def q2():
    resposta2 = black_friday.query("Gender == 'F' and Age == '26-35'").shape[0]
    return resposta2

## Questão 3

Quantos usuários únicos há no dataset? Responda como um único escalar.

In [7]:
def q3():
    resposta3 = black_friday["User_ID"].nunique()
    return resposta3

## Questão 4

Quantos tipos de dados diferentes existem no dataset? Responda como um único escalar.

In [8]:
def q4():
    resposta4 = black_friday.dtypes.nunique()
    return resposta4

## Questão 5

Qual porcentagem dos registros possui ao menos um valor null (`None`, `ǸaN` etc)? Responda como um único escalar entre 0 e 1.

In [9]:
def q5():
    # Retorne aqui o resultado da questão 5.
    resposta5 = sum(black_friday.isna().mean(axis=1) > 0) / black_friday.shape[0]
    return resposta5

## Questão 6

Quantos valores null existem na variável (coluna) com o maior número de null? Responda como um único escalar.

In [13]:
def q6():
    # Retorne aqui o resultado da questão 6.
    resposta6 = black_friday.isna().sum().max()
    return int(resposta6)

## Questão 7

Qual o valor mais frequente (sem contar nulls) em `Product_Category_3`? Responda como um único escalar.

In [14]:
def q7():
    # Retorne aqui o resultado da questão 7.
    resposta7 = black_friday["Product_Category_3"].value_counts().idxmax()
    return float(resposta7)

## Questão 8

Qual a nova média da variável (coluna) `Purchase` após sua normalização? Responda como um único escalar.

In [15]:
def q8():
    # Retorne aqui o resultado da questão 8.
    X = black_friday["Purchase"]
    nova_media = (X.mean() - X.min()) / (X.max() - X.min())
        
    return float(nova_media)

## Questão 9

Quantas ocorrências entre -1 e 1 inclusive existem da variáel `Purchase` após sua padronização? Responda como um único escalar.

In [16]:
def q9():
    # Retorne aqui o resultado da questão 9.    
    X = black_friday["Purchase"]
    X_padronizado = (X - X.mean()) / X.std()
    ocorrencias = X_padronizado[(-1 <= X_padronizado) & (X_padronizado <= 1)].count()
    
    return int(ocorrencias)

## Questão 10

Podemos afirmar que se uma observação é null em `Product_Category_2` ela também o é em `Product_Category_3`? Responda com um bool (`True`, `False`).

In [17]:
def q10():
    # Retorne aqui o resultado da questão 10.
    resultado = ~(black_friday["Product_Category_2"].isna() & black_friday["Product_Category_3"].notna()).unique()[0]
    return bool(resultado)